{% extends "base.twig" %}

{% block content %}
	<h1>{{ __( 'This page is protected with a password', 'theme-name' ) }}</h1>

	<form class="single-password" action="{{ fn('get_home_url', '/wp-login.php?action=postpass') }}" method="post">
		<label class="single-password__label" for="single-password__input">{{ __( 'Password' , 'theme-name' ) }}</label>
		<input class="single-password__input" name="post_password" id="password__input" type="password" placeholder="Password" size="20" maxlength="20" />
		<input class="single-password__button" type="submit" name="Submit" value="Submit" />
	</form>
{% endblock %}
