<aside class="share">
	<span class="share__title">Partager l'article</span>

	<a class="share__link" href="http://www.facebook.com/sharer.php?u={{ post.link }}" target="_blank" rel="noreferrer noopener">Facebook</a>
	<a class="share__link" href="https://twitter.com/share?url={{ post.link }}" target="_blank" rel="noreferrer noopener">Twitter</a>
	<a class="share__link" href="https://www.linkedin.com/shareArticle?url={{ post.link }}" target="_blank" rel="noreferrer noopener">LinkedIn</a>
</aside>
