<div class="author">
	{% set thumb = post.author.avatar({ size: 76 }) %}
	{% if thumb is not empty %}
		<img class="author__thumb"
			 src="{{ thumb }}"
			 alt="{{ __('Author', 'theme-name' ) }}"
			 loading="lazy"
		>
	{% endif %}
	<time datetime="{{ post.post_date | date("Y-M-d") }}" class="author__date">{{ post.post_date | date("d M Y") }}</time>
	Par <strong>{{ post.author }}</strong>
</div>
