@import "~@fantassin/utils/spacer";
@import "mixins/heading";
@import "mixins/button";

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0;
}

label {
	@include h6();
	text-transform: none;
	font-weight: bold;

	& + input {
		margin-top: spacer(1/2);
	}
}

input[type="checkbox"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="image"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="radio"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
	width: 100%;
	display: block;
	padding: spacer(1/2) spacer(3/4);
	background-color: getColorFromName('white');
	font-size: 16px;
	z-index: 3;
	border: 2px solid getColorFromName('gray');

	& + label {
		margin-top: spacer(1);
	}
}

textarea {
	resize: none;
	min-height: 200px;
}

input[type="submit"] {
	@include button-fill();
}
