@import "mixins/body";
@import "mixins/container";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

	&.is-lock {
		overflow: hidden;
	}
}

body {
	@include body();
	display: flex;
	flex-direction: column;
}

main {
	@include container();
	flex: 1;
	display: flex;
	flex-direction: column;
}
