@import "~@fantassin/utils/spacer";
@import "~@fantassin/utils/media-queries";
@import "mixins/heading";

h1,
.h1 {
	@include h1();
	margin-top: spacer(6);
	margin-bottom: spacer(4);
}

h2,
.h2 {
	@include h2();
	margin-top: spacer(4);
	margin-bottom: spacer(3);
}

h3,
.h3 {
	@include h3();
	margin-top: spacer(3);
	margin-bottom: spacer(2);
}

h4,
.h4 {
	@include h4();
	margin-top: spacer(2);
	margin-bottom: spacer(2);
}

h5,
.h5 {
	@include h5();
	margin-top: spacer(2);
	margin-bottom: spacer(1);
}

h6,
.h6 {
	@include h6();
	margin-top: spacer(1);
	margin-bottom: spacer(1);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	@include hn();
}
