@import "~@fantassin/utils/spacer";

ol,
ul {
	margin-top: spacer(3);
	padding-left: 0;

	li {
		position: relative;
	}

	li > ol,
	li > ul {
		margin-top: spacer(1.5);
		padding-left: spacer();
	}

	& + * {
		margin-top: spacer(5);
	}
}

ul {
	list-style: none;

	> li::before {
		content: "";
		position: absolute;
		left: spacer(-1);
		top: 8px;
		transform: translateX(-100%);
		display: inline-block;
		width: 4px;
		height: 4px;
		background-color: black;
		border-radius: 6px;
	}
}

li + li {
	margin-top: spacer(1.5);
}
