@import "variables";

#login h1 a,
.login h1 a {
	background-image: url('../../../assets/images/logo-theme_name.svg');
	background-size: contain;
	background-repeat: no-repeat;
	padding-bottom: getSpacingValue('spacer');
}
