@import "~@fantassin/utils/spacer";
@import "mixins/paragraph";
@import "mixins/reset-inner-childs";
@import "colors";

blockquote {
	@include large();
	@include reset-inner-childs();
	margin: spacer(2) 0;
	padding: spacer(1) spacer(1);
	border-left: 3px solid $black;

	p {
		margin: 0;

		& + & {
			margin-top: spacer(1/2);
		}
	}

	cite {
		@include small();
		display: inline-block;
		margin-top: spacer(2);
		font-style: normal;
	}
}
