{% extends "base.twig" %}

{% block content %}
    <article>
		<h1>{{ __( 'Erreur 404', 'theme-name' ) }}</h1>
		<a href="{{ fn('get_home_url') }}">{{ __( "Retour à la page d'accueil", 'theme-name' ) }}</a>
    </article>
{% endblock %}
