{% extends "base.twig" %}

{% block content %}
	<section class="content">
		{% if term.title %}
			<h1 class="content__title">{{ term.title }}</h1>
		{% endif %}

		<div class="wp-block-group is-style-tease-container">
			<div class="wp-block-group__inner-container">
				{% for post in posts %}
					{% include 'parts/tease.twig' %}
				{% endfor %}
			</div>
		</div>

		{% include 'parts/pagination.twig' with { pagination: posts.pagination( { show_all: false, mid_size: 3, end_size: 2 } ) } %}

		{% if term.description %}
			<div class="content__description">{{ term.description }}</div>
		{% endif %}

	</section>
{% endblock %}
