{% block html_head_container %}
    {% include 'head.twig' %}
    {% block head %}
    {% endblock %}
{% endblock %}

<body class="{{ body_class }}">
{% include 'header.twig' %}

<main id="content">
    {% block content %}
        Sorry, no content
    {% endblock %}
</main>

{% include 'footer.twig' %}
{{  function('wp_footer')  }}
</body>
</html>
