<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ lang }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ lang }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ lang }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{ lang }}> <!--<![endif]-->

<head>
    <meta charset="UTF-8" />
	{{ function('wp_head') }}{# <title> is generated in wp_head #}

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/favicons/apple-touch-icon-57x57.png') }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('images/favicons/apple-touch-icon-60x60.png') }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/favicons/apple-touch-icon-72x72.png') }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/favicons/apple-touch-icon-76x76.png') }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/favicons/apple-touch-icon-114x114.png') }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/favicons/apple-touch-icon-120x120.png') }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/favicons/apple-touch-icon-144x144.png') }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/favicons/apple-touch-icon-152x152.png') }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicons/apple-touch-icon-180x180.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicons/favicon-16x16.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicons/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="194x194" href="{{ asset('images/favicons/favicon-194x194.png') }}">
	<link rel="icon" type="image/png" sizes="192x192" href="{{ asset('images/favicons/android-chrome-192x192.png') }}">
	<link rel="mask-icon" href="{{ asset('images/favicons/safari-pinned-tab.svg') }}" color="#111111">
	<meta name="msapplication-TileColor" content="#111111">
	<meta name="msapplication-TileImage" content="{{ asset('images/favicons/mstile-144x144.png') }}">
	<meta name="theme-color" content="#111111">
	<link rel="author" href="{{ site.theme.link }}/humans.txt" />

	<script>
        (() => {
            document.documentElement.classList.remove('no-js')
            document.documentElement.classList.add('js')
        })();
    </script>
</head>
