{% block header %}
	<header id="header" class="header">
		{% if menu.items | length > 0 %}
			<a class="skip-link" href="#menu">{{ __( 'Aller au menu', 'theme-name' ) }}</a>
		{% endif %}
		<a class="skip-link" href="#content">{{ __( 'Aller au contenu principal', 'theme-name' ) }}</a>
		<a class="skip-link" href="#footer">{{ __( 'Aller en bas de la page', 'theme-name' ) }}</a>

		<a class="header__logo" href="{{ fn('get_home_url') }}">
			SVG logo
		</a>

		{% if menu.items | length > 0 %}
			<button type="button" class="menu-toggle" data-trigger-menu="#menu">
				<span class="screen-reader-text">{{ __( 'Open the menu', 'theme-name' ) }}</span>
				<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
					<path d="M0 0h24v24H0z" fill="none"/>
					<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
				</svg>
			</button>

			<nav id="menu" class="navigation">
				{% include "parts/menu.twig" with { items: menu.items } %}
			</nav>
		{% endif %}

	</header>

{% endblock %}
