{% extends "base.twig" %}

{% block content %}
    <section>
        {% if post.content is not empty %}
            {{ post.content }}
        {% endif %}

        {% for post in posts %}
            {% include 'parts/tease.twig' %}
        {% endfor %}

        {% include 'parts/pagination.twig' with { pagination: posts.pagination( { show_all: false, mid_size: 3, end_size: 2 } ) } %}
    </section>
{% endblock %}
