{% extends "base.twig" %}

{% block content %}
	<section class="content">
		{% if result_number > 0 %}
			<h1>{{ _n( '%s resultat trouvé pour votre recherche :', '%s resultats trouvés pour votre recherche :', 'theme-name')|format(result_number) }} {{ search_query }}</h1>

			{% for post in posts %}
				{% include ['parts/tease-'~post.post_type~'.twig', 'parts/tease.twig'] %}
			{% endfor %}

			{% include 'parts/pagination.twig' with { pagination: posts.pagination( { show_all: false, mid_size: 3, end_size: 2 } ) } %}
		{% else %}
			<h1>{{ __( 'Pas de résultats pour votre recherche : ', 'theme-name' ) }} {{ search_query }}</h1>
			<a href="{{ fn('get_home_url') }}">{{ __( "Retour à la page d'accueil", 'theme-name' ) }}</a>
		{% endif %}

	</section>
{% endblock %}
