{% extends "base.twig" %}

{% block content %}
    <article>
		<h1>{{ post.title }}</h1>
		<img src="{{ post.thumbnail.src|resize(1200) }}" srcset="{{ post.thumbnail.srcset }}" alt="{{ post.thumbnail.alt }}" loading="lazy">

		{% include "parts/single/single-author.twig" %}
		{% include "parts/single/single-share.twig" %}

        {{ post.content }}
    </article>

	{% include "parts/post/post-schema.twig" %}
	{% include "parts/post/post-comment.twig" %}
{% endblock %}
