@import "../../commons/variables";
@import "~@fantassin/utils/media-queries";
@import "../../commons/mixins/button";

.wp-block-buttons {
	display: flex;
	flex-wrap: wrap;
}

* + .wp-block-buttons {
	@include getSpacing('margin-top', 'button-y');
}
