@import "../../commons/mixins/button";
@import "../../commons/variables";

.wp-block-button {
	@include getSpacing('margin-right', 'button-x');

	&__link {
		@include button-fill();
	}

	.is-style-outline &__link {
		@include button-outline();
	}

	& + & {
		@include getSpacing('margin-bottom', 'button-y');
	}

	&:last-child {
		margin-right: 0;
	}
}
