@import "~@fantassin/utils/media-queries";
@import "~@fantassin/utils/spacer";
@import "../../commons/mixins/container";
@import "../../commons/mixins/reset-inner-childs";
@import "../../commons/mixins/columns";
@import "../../commons/variables";

.wp-block-columns {
	@include columns();
	@include columns-vertical();

	@include breakpoint($desktop) {
		@include columns-horizontal();
	}

	&.alignwide,
	&.alignfull {
		@include columns();
		margin-left: auto;
		margin-right: auto;

		@include breakpoint($desktop) {
			@include columns-horizontal();
		}
	}

	&.alignfull {
		transform: none;
		width: auto;
	}

	& + *,
	* + & {
		@include getSpacing('margin-top', 'spacer');

		@include breakpoint($desktop) {
			@include getSpacing('margin-top', 'small');
		}
	}
}

.wp-block-column {
	background-color: lightgreen;
	@include reset-inner-childs();
	@include column();

	ul {
		padding-left: 0;
	}
}
