@import "~@fantassin/utils/spacer";
@import "../../commons/mixins/container";

.wp-block-cover {
	margin: spacer(6) 0;

	&__inner-container {
		padding: spacer(6) spacer(4);

		& > *:first-child {
			margin-top: 0;
		}

		& > *:last-child {
			margin-bottom: 0;
		}
	}

	&.alignfull &__inner-container {
		@include container();
	}
}
