@import "~@fantassin/utils/spacer";
@import "~@fantassin/utils/has-colors";
@import "../../commons/mixins/button";

//TODO: Improve render in editor
.wp-block-file {
	position: relative;
	display: inline-flex;
	align-items: center;
	padding: spacer() spacer(3/2);

	& > a {
		text-decoration: none;
		font-weight: normal;
	}

	&__button {

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: getColorFromName('light-gray');
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
		}

		&:hover,
		&:focus {

			&::before {
				background-color: getColorFromName('soft-gray');
			}
		}
	}

	& &__button {
		@include button-link();
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
}
