@import "~@fantassin/utils/spacer";
@import "../../commons/mixins/anchor";
@import "../../commons/variables";

p {
	* + & {
		margin-top: $spacer-small;
	}
}

a,
.a {
	@include a();
}

.has-drop-cap::first-letter {
	font-size: 5.1em;
	font-weight: 800;
}
