@import "../../commons/variables";
@import "~@fantassin/utils/spacer";
@import "~@fantassin/utils/media-queries";
@import "~@fantassin/utils/colors";
@import "../../commons/mixins/heading";
@import "../../commons/mixins/paragraph";

.wp-block-pullquote {
	position: relative;
	@include getSpacing('margin-top', 'pullquote');
	@include getSpacing('margin-bottom', 'pullquote');
	margin-right: auto;
	margin-left: auto;

	&::before {
		content: "";
		position: absolute;
		display: block;
		right: 100%;
		bottom: 100%;
		transform: translateY(50%);
		width: 48px;
		height: 48px;
		background-size: contain;
	}

	blockquote {
		@include h2();
		color: $black;
		margin: 0;
	}

	cite {
		@include p();
		font-style: normal;
	}

	&.alignright {
		border-left: none;
		border-right: 3px solid $black;

		blockquote {
			border-left: none;
		}
	}

	.wp-block-column & {
		width: 100%;
	}
}
