@import "~@fantassin/utils/spacer";
@import "~@fantassin/utils/colors";
@import "~@fantassin/utils/media-queries";
@import "../../commons/mixins/heading";
@import "../../commons/mixins/paragraph";
@import "../../commons/quote";

.wp-block-quote {
	// Default inherit from blockquote style

	&.is-style-large {
		margin: spacer(4) 0;
		text-align: center;
		padding: spacer(2);
		border-left: none;
		border-top: 3px solid $black;
		border-bottom: 3px solid $black;
	}

	&.has-text-align-right {
		border-left: 0;
		border-right: 3px solid $black;
	}
}
