.wp-block-separator {
	width: 50%;
	margin: 3rem auto;

	&.is-style-wide {
		width: 100%;
	}

	&.is-style-dots {

		&::before {
			background: none;
			color: inherit;
			font-size: 3.2rem;
			font-weight: 700;
			height: auto;
			letter-spacing: 1em;
			padding-left: 1em;
			position: static;
			transform: none;
			width: auto;
		}
	}
}
