@import "paragraph";

@mixin body() {
	@include p();
	line-height: var(--line-height);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
}
