@import "../variables";
@import "~@fantassin/utils/rem-calc";
@import "~@fantassin/utils/has-colors";
@import "anchor";

@mixin button-commons( $color-name: "tonic" ) {
	@include button-color($color-name);
	position: relative;
	display: inline-block;
	font-weight: 700;
	@include getSpacing('padding-top', 'button-y');
	@include getSpacing('padding-bottom', 'button-y');
	@include getSpacing('padding-left', 'button-x');
	@include getSpacing('padding-right', 'button-x');
	cursor: pointer;
	//margin-top: $spacer;
	//margin-bottom: $spacer;
	background-color: var(--button-background-color);
	color: var(--button-color);
	border: 2px solid var(--button-background-color);
	border-radius: var(--button-border-radius);

	&[disabled] {
		cursor: not-allowed;
	}
}

@mixin button-outline-and-fill() {
	font-size: rem-calc(17px);
	line-height: rem-calc(21px);
	text-transform: none;
	text-decoration: none;

	&[disabled] {
		@include button-background-color('soft-gray');
	}
}

@mixin button-link($color-name: "tonic") {
	// @include a($color-name);
	@include button-commons($color-name);
	--button-background-color: transparent;
	margin-left: $spacer * -1;
	margin-right: $spacer * -1;
}

@mixin button-outline($color-name: "tonic") {
	@include button-commons($color-name);
	@include button-outline-and-fill();
	border: 2px solid var(--button-color);
}

@mixin button-fill($color-name: "tonic") {
	@include button-commons($color-name);
	@include button-background-color($color-name);
	@include button-outline-and-fill();
}

@mixin button-icon($size: 44px, $color-name: "tonic") {
	@include button-commons($color-name);
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 44px;
	min-height: 44px;
	width: $size;
	height: $size;
	border-radius: 100%;
	margin: 0;
	padding: 0;
}

@mixin button-color($color-name: "tonic") {
	--button-color: #{ getColorFromName($color-name) };
	--button-background-color: transparent;
	//@include focus($color-name);
}

@mixin button-background-color($color-name: "tonic") {
	--button-color: #{ getColorFromBackgroundColorName($color-name) };
	--button-border-color: #{ getColorFromName($color-name) };
	--button-background-color: #{ getColorFromName($color-name) };
	//@include focus($color-name);
}

@mixin button($type: "fill", $color-name: "tonic") {
	@include button-background-color($color-name);
	@include button-commons($color-name);

	@if ($type == "link") {
		@include button-link($color-name);
	}

	@if ($type == "fill" or $type == "outline") {
		@include button-outline-and-fill();
	}

	@if ($type == "fill") {
		@include button-fill($color-name);
	}

	@if ($type == "outline") {
		@include button-outline($color-name);
	}
}
