@import "../variables";
@import "~@fantassin/utils/media-queries";
@import "container";
@import "../functions/calculate-size";

@mixin columns-vertical() {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@include breakpoint($desktop) {
		justify-content: space-between;
	}
}

@mixin columns-horizontal() {
	display: flex;
	flex-direction: row;
}

@mixin column-horizontal() {
	& + & {
		margin-top: 0;
	}
}

@mixin column-vertical() {
	& + & {
		@include getSpacing('margin-top', 'spacer');
	}
}

@mixin columns() {

	@include breakpoint($desktop) {
		margin-left: $grid-gutter-desktop / -2;
		margin-right: $grid-gutter-desktop / -2;
	}

	* + & {
		@include getSpacing('margin-top', 'spacer');

		@include breakpoint($large) {
			@include getSpacing('margin-top', 'small');
		}
	}

	& + * {
		@include getSpacing('margin-top', 'spacer');

		@include breakpoint($medium) {
			@include getSpacing('margin-top', 'medium');
		}

		@include breakpoint($large) {
			@include getSpacing('margin-top', 'large');
		}
	}

	.mauticform_wrapper + &,
	h1 + &,
	.is-style-h1 + & {

		@include breakpoint($desktop) {
			@include getSpacing('margin-top', 'large');
		}
	}
}

@mixin column() {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;

	@include breakpoint($desktop) {
		margin-left: $grid-gutter-desktop / 2;
		margin-right: $grid-gutter-desktop / 2;
	}
}




