@import "../variables";
@import "~@fantassin/utils/media-queries";
@import "~@fantassin/utils/line-widths";

@mixin container() {
	@include getSpacing('padding-left', 'gutter');
	@include getSpacing('padding-right', 'gutter');
	max-width: getLineWidthValue('container');
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@mixin container-wide() {
	max-width: getLineWidthValue('container');
	@include getSpacing('margin-left', 'gutter-negative');
	@include getSpacing('margin-right', 'gutter-negative');
	width: auto;
}

@mixin container-full() {
	width: 100vw;
	transform: translateX(-50%);
	margin-left: 50%;
	max-width: none;
}
