@import "../variables";
@import "~@fantassin/utils/headings";

@mixin hn() {
	font-weight: normal;

	a {
		color: inherit;
	}
}

@mixin h1() {
	@include getHn("h1");
}

@mixin h2() {
	@include getHn("h2");
}

@mixin h3() {
	@include getHn("h3");
}

@mixin h4() {
	@include getHn("h4");
	font-weight: bold;
}

@mixin h5() {
	@include getHn("h5");
	font-weight: bold;
}

@mixin h6() {
	@include getHn("h6");
	font-weight: bold;
	text-transform: uppercase;
}
