@import "container";
@import "../variables";

@mixin inner-container() {

	& > * {
		@include container();
	}

	& > .alignwide {
		@include container-wide();
	}

	& > .alignfull {
		@include container-full();
	}
}
