@import "~@fantassin/utils/ease";
@import "~@fantassin/utils/svg-encode";

$size-icon: 24px;

@mixin navigation-mobile() {
	width: 100vw;
	overflow-y: scroll;
	pointer-events: none;
	transform: translateX(-100vw);
	transition: transform .3s $easeOutQuart;
}

@mixin navigation-desktop() {
	@include navigation-is-open();
	display: flex;
	height: auto;
	width: auto;
	overflow-y: visible;
	pointer-events: auto;
	transform: none;
	position: relative;
	z-index: 10;
}

@mixin navigation-is-open() {
	height: 100vh;
	pointer-events: auto;
	transform: translateX(0);
}

@mixin menu-horizontal() {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

@mixin menu-vertical() {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@mixin menu-mobile() {
	@include menu-vertical();
	margin-top: 0; // kill margin-top ul
	margin-bottom: 0; // kill margin-top ul
}

@mixin menu-desktop() {
	@include menu-horizontal();
	height: auto;
	width: 100%;
	overflow: visible;
}

@mixin submenu-mobile() {
	@include menu-vertical();
	overflow: hidden;
	max-height: 0;
	margin: 0;
	width: 100%;
	pointer-events: none;
	padding-left: 0;
	padding-right: 0;
}

@mixin submenu-desktop() {
	justify-content: flex-start;
	flex-wrap: wrap;
	overflow: visible;
	position: absolute;
	width: max-content;
	top: 100%;
	left: 0;
	transform-origin: top center;
	max-height: none;
	pointer-events: none;
	z-index: 10;
	opacity: 0;
	transition: opacity .3s $easeOutQuart, transform .3s $easeOutQuart;
}

@mixin submenu-mobile-is-open() {
	pointer-events: auto;
	max-height: none;
}

@mixin submenu-desktop-is-open() {
	pointer-events: auto;
	opacity: 1;
}

@mixin submenu-icon-drop-down() {
	background-image: url(svg-encode('<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="m7 10 5 5 5-5z"/></svg>'));
	background-size: $size-icon;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	height: $size-icon;
	width: $size-icon;
}
