@import "../variables";
@import "~@fantassin/utils/headings";

@mixin p() {
	@include getHn('p');
	// font-size: rem-calc(17px);
	// line-height: rem-calc(21px);
}

@mixin small() {
	@include getHn('small');
	//font-size: rem-calc(13px);
	//line-height: rem-calc(17px);
}

@mixin large() {
	@include getHn('large');
	//font-size: rem-calc(21px);
	//line-height: rem-calc(26px);
}

@mixin huge() {
	@include getHn('huge');
	// font-size: rem-calc(24px);
	// line-height: rem-calc(32px);
}
