@import "../variables/colors";
@import "~@fantassin/utils/colors";

@mixin default-theme() {
	--blue: #{$blue};
	--green: #{$green};
	--red: #{$red};
	--yellow: #{$yellow};
	--light-gray: #{$light-gray};
	--soft-gray: #{$soft-gray};
	--medium-gray: #{$medium-gray};
	--gray: #{$gray};
	--hard-gray: #{$hard-gray};
	--very-hard-gray: #{$very-hard-gray};
	--light-black: #{$light-black};
	--black: #{$black};
	--white: #{$white};
	--tonic: var(--white);
	--body-background: var(--black);
	--body-color: var(--white);
	--tonic-background: var(--tonic); // use tonic
	--tonic-color: var(--black);
}

@mixin theme-inverted() {
	--hard-gray: #{$soft-gray};
	--very-hard-gray: #{$light-gray};
	--soft-gray: #{$hard-gray};
	--black: #{$white};
	--white: #{$black};
	--light-gray: #{$very-hard-gray};
	--light-black: #{$light-gray};
}
