@import "~@fantassin/utils/colors";

$green: #00FFC6;
$blue: #4D6AFF;
$red: #FF4D6A;
$yellow: #D2FF4D;
$vanilla: #FFFBC7;
$light-black: #222222;
$tonic: $green;

$colors: (
	'transparent': transparent,
	'black': var(--black),
	'hard-gray': var(--hard-gray),
	'gray': var(--gray),
	'medium-gray': var(--medium-gray),
	'soft-gray': var(--soft-gray),
	'light-gray': var(--light-gray),
	'white': var(--white),
	'red': var(--red),
	'green': var(--green),
	'blue': var(--blue),
	'yellow': var(--yellow),
	'tonic': var(--tonic),
	'tonic-color': var(--tonic-color),
);

$color-from-background-color: (
	'white': getColorFromName('black'),
	'black': getColorFromName('white'),
	'transparent': getColorFromName('black'),
	'tonic': getColorFromName('tonic-color'),
	'soft-gray': getColorFromName('hard-gray'),
	'red': getColorFromName('white'),
	'blue': getColorFromName('white'),
	'yellow': getColorFromName('black'),
	'green': getColorFromName('black'),
	'light-gray': getColorFromName('black'),
);

/**
 * Color palette supports in Gutenberg editor.
 */
$has-colors: (
	'white': getColorFromName('white'),
	'black': getColorFromName('black'),
	'tonic': getColorFromName('tonic-color'),
	'light-gray': getColorFromName('light-gray'),
);

