@import "~@fantassin/utils/spacer";

$spacer: 30px;
$spacer-half: spacer(1/2); // 15px
$spacer-small: spacer(2); // 60px
$spacer-medium: spacer(3); // 90px
$spacer-large: spacer(4); // 120px
$spacer-xlarge: spacer(6); // 180px

$grid-gutter: 20px;
$grid-gutter-tablet: 40px;
$grid-gutter-desktop: 60px;

$spacings : (
	"spacer-half": spacer(1/2),
	"spacer": 30px,
	"small": spacer(2),
	"medium": spacer(3),
	"large": spacer(4),
	"xlarge": spacer(6),
	"gutter": (
		"small": $grid-gutter, //$gutter
		"tablet": $grid-gutter-tablet, //$grid-gutter-tablet
		"desktop": $grid-gutter-desktop, //$grid-gutter-tablet
	),
	"gutter-negative": (
		"small": $grid-gutter * -1, //$gutter
		"tablet": $grid-gutter-tablet * -1, //$grid-gutter-tablet
		"desktop": $grid-gutter-desktop * -1, //$grid-gutter-tablet
	),
	'button-x': getSpacingValue('spacer'),
	'button-y': getSpacingValue('spacer'),
	'has-background' : (
		'small': getSpacingValue('small'),
		'large': getSpacingValue('large')
	),
	'pullquote' : (
		'small': getSpacingValue('medium'),
		'desktop': getSpacingValue('large'),
	),
	"column": (
		"small": 0px,
		"tablet": getSpacingValue('spacer'),
	)
);

@import "~@fantassin/utils/spacings";
