@import "../commons/variables";
@import "~@fantassin/utils/spacer";
@import "~@fantassin/utils/headings";
@import "../commons/mixins/paragraph";

$font-sizes: $headings;

@each $slug, $value in $font-sizes {

	.has-#{$slug}-font-size{

	}
}

.has-huge-font-size {
	// @include huge();
	@include getHn('huge');
	margin-top: spacer(2/5);
	margin-top: spacer(2/5);
}

.has-large-font-size {
	@include large();
	margin-top: spacer(1/3);
	margin-top: spacer(1/3);
}

.has-regular-font-size {
	@include p();
	margin-top: spacer(1/4);
	margin-top: spacer(1/4);
}

.has-small-font-size {
	@include small();
	margin-top: spacer(1/5);
	margin-top: spacer(1/5);
}
