@import "../commons/variables/colors";
@import "~@fantassin/utils/has-colors";
@import "../commons/mixins/button";

// Text color
@each $name, $color in $has-colors {
	.has-#{$name}-color {
		--default-color: getColorFromBackgroundColorName($name);
		color: #{$color};
	}

	// Background color
	.has-#{$name}-background-color {
		@if ( $name != "color-light-primary" ) {
			--default-color: getColorFromBackgroundColorName($name);

			color: getColorFromBackgroundColorName($name);
		}

		border-color: #{$color}; // Works with button styles & not impact other styles.
		background-color: #{$color};
	}

	.wp-block-button__link.has-#{$name}-color {
		@include button-color($name);
	}

	.wp-block-button__link.has-#{$name}-background-color {
		@include button-background-color($name);
	}
}

.has-background {
	@include getSpacing('padding-top', 'has-background');
	@include getSpacing('padding-bottom', 'has-background');
}

// Background colors for block media-text alignfull
//@each $name, $color in $colors {
//	.has-background-dim.has-#{$name}-background-color,
//	.wp-block-media-text.alignfull.has-#{$name}-background-color {
//		position: relative;
//
//		&::before {
//			background-color: #{$color};
//		}
//	}
//}
