.has-text-align {

	&-left {
		text-align: left;
	}

	&-right {
		text-align: right;
	}

	&-center {
		text-align: center;
	}
}

.aligncenter {
	text-align: center;
	justify-content: center;
}

.alignright {
	text-align: right;
	justify-content: flex-end;
}

.alignleft {
	text-align: left;
}
