@import "~@fantassin/utils/media-queries";
@import "../commons/mixins/button";

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	@include breakpoint($tablet) {
		justify-content: flex-start;
	}

	&__logo {
		@include button-icon();

		margin: 0;
		border-radius: 0;
		width: auto;
		height: auto;
	}
}
