@import "~@fantassin/utils/media-queries";
@import "~@fantassin/utils/svg-encode";
@import "~@fantassin/utils/ease";
@import "../commons/mixins/menu";
@import "../commons/mixins/button";

$menu-breakpoint: $tablet;

.navigation {
	@include navigation-mobile();

	@include breakpoint($menu-breakpoint) {
		@include navigation-desktop();
	}

	&.is-open {
		@include navigation-is-open();
	}
}

.menu-toggle {
	@include button-icon();

	@include breakpoint($menu-breakpoint) {
		display: none;
	}
}

.menu {
	@include menu-mobile();

	@include breakpoint($menu-breakpoint) {
		@include menu-desktop();
	}

	li {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		align-items: center;

		@include breakpoint($menu-breakpoint) {
			position: relative;
			width: auto;
		}

		&::before {
			content: none;
		}

		& + li {
			margin-top: 0;
		}
	}

	a {
		@include button-link();

		margin: 0;
		flex: 1;
	}
}

.submenu-toggle {
	@include button-icon();
	@include submenu-icon-drop-down();
	border-radius: 0;

	@include breakpoint($menu-breakpoint) {
		pointer-events: none;
	}
}

.submenu {
	@include submenu-mobile();

	@include breakpoint($menu-breakpoint) {
		@include submenu-desktop();
	}

	&.is-open {
		@include submenu-mobile-is-open();

		@include breakpoint($menu-breakpoint) {
			@include submenu-desktop();
		}
	}

	li {
		@include breakpoint($menu-breakpoint) {
			width: 100%;
		}
	}
}

.menu-item-has-children {

	&:focus-within > .submenu,
	&:hover > .submenu,
	a:hover ~ .submenu {
		@include breakpoint($menu-breakpoint) {
			@include submenu-desktop-is-open();
		}
	}
}
