@import "~@fantassin/utils/spacer";
@import "~@fantassin/utils/screen-reader";
@import "../commons/mixins/button";

.skip-link {
	@include screen-reader();

	position: fixed;
	top: spacer(2);
	left: spacer(2);
	z-index: 100;

	&:focus {
		@include button-fill();
		@include screen-reader-focus();
		clip: auto;
		margin: 0;
		height: auto;
		width: auto;
		clip-path: none;
		border-radius: 4px;
	}
}
