<form action="{{ fn('get_home_url') }}" method="GET" class="search">
	<label class="screen-reader-text">{{ __( 'Rechercher parmi le contenu du site', 'theme-name' ) }}</label>
	<input class="search__input" type="search" name="s" placeholder="Rechercher" aria-label="{{ __( 'Rechercher parmi le contenu du site', 'theme-name' ) }}">
	<button class="search__button" type="submit">{{ __( 'Rechercher', 'theme-name' ) }}</button>
</form>
