{% if children is not defined %}
  {% set classname = 'menu'  %}
{% endif %}

{% if children %}
  {% set classname = 'submenu' %}
{% endif %}

{% if items %}
<ul {% if id is not empty %}id="{{ id }}"{% endif %} class="{{ classname }}" {% if not children %}itemscope itemtype="http://www.schema.org/SiteNavigationElement"{% endif %}>
    {% for item in items %}
      {% set submenuClassnames = item.classes | merge([classname ~ '__item']) %}
      <li itemprop="name" class="{{ submenuClassnames | join(' ') }}">
        <a itemprop="url" href="{{ item.url }}">{{ item.title }}</a>

        {% if item.children %}
          {% set submenuId = "submenu-" ~ item.id  %}
          <button type="button" class="submenu-toggle" data-trigger-menu="#{{submenuId}}">
            <span class="screen-reader-text">{{ __( 'Open the submenu', 'theme-name' ) }}</span>
          </button>
          {% include "parts/menu.twig" with {id:submenuId, items: item.children, children: true } %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
