{% if posts.pagination.pages is not empty %}
    <ul class="pagination">
        {% if pagination.prev %}
            <li class="pagination__item pagination__item--prev">
                <a class="pagination__link" href="{{ pagination.prev.link }}" rel="prev">Précédent</a>
            </li>
        {% endif %}

        {% for page in pagination.pages %}
            {% if "current" in page.class %}
				<li class="pagination__item pagination__item--current">
					<span class="pagination__link">{{ page.title }}</span>
				</li>
            {% elseif page.link %}
				<li class="pagination__item">
					<a class="pagination__link" href="{{ page.link }}">{{ page.title }}</a>
				</li>
			{% else %}
                <li class="pagination__item">
					<span class="pagination__link">{{ page.title }}</span>
				</li>
            {% endif %}
        {% endfor %}

        {% if pagination.next %}
            <li class="pagination__item  pagination__item--next">
                <a class="pagination__link" href="{{ pagination.next.link }}" rel="next">Suivant</a>
            </li>
        {% endif %}
    </ul>
{% endif %}
