<article class="tease tease-{{ post.type }}{{ function('is_sticky', post.id) ? ' tease-post--sticky' : '' }}">
	<h2 class="tease__title">
		<a class="tease__link" href="{{ post.link }}">{{ post.title }}</a>
	</h2>

	<time class="tease__date" datetime="{{ post.post_date | date("Y-M-d") }}">{{ post.post_date | date("d M Y") }}</time>
	<p class="tease__author">{{ __('Écrit par :', 'theme-name' ) }} {{ post.author }}</p>
	<p class="tease__description">{{ post.preview(140).read_more('') }}</p>

	{% if post.get_thumbnail %}
		{% if ".gif" in post.thumbnail.src %}
			<img class="tease__thumbnail" src="{{ post.thumbnail }}" srcset="{{ post.thumbnail.srcset }}" alt="{{ post.title }}">
		{% else %}
			<img class="tease__thumbnail" src="{{ post.thumbnail.src('medium') }}" srcset="{{ post.thumbnail.srcset }}" alt="{{ post.title }}">
		{% endif %}
	{% endif %}

	{% include "parts/post/post-schema.twig" %}
</article>
