@import "commons/variables";
@import "commons/mixins/body";
@import "components/wp-blocks/blocks";

.wp-block[data-align=left],
.wp-block[data-align=right] {
	height: auto;

	& > * {
		float: none;
	}
}

.editor-post-title__block .editor-post-title__input,
.editor-block-list__layout .editor-block-list__block {
	@include body();
	@import "commons/heading";
}

.editor-post-title__block .editor-post-title__input {
	@include h1();
}

// Reset button behaviour
//.block-editor-block-list__layout .block-editor-block-list__block[data-align=left],
//.block-editor-block-list__layout .block-editor-block-list__block[data-align=right]{
//  height: auto;
//
//  > .block-editor-block-list__block-edit{
//    float: none;
//  }
//}
