<blockquote class="comment {{ children == true ? 'comment--children': '' }}" itemscope itemtype="https://schema.org/Comment">
	<p class="comment__content" itemprop="text">{{ comment.comment_content | wpautop }}</p>
	<cite class="comment__author" itemprop="author">{{ comment.author.name }}</cite>
</blockquote>

{% if comment.children %}
	{% for comment in comment.children %}
		{% include "parts/post/post-single-comment.twig" with {comment: comment, children: true} %}
	{% endfor %}
{% endif %}
