<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ post.post_title|escape }}",
		"description": "{{ post.preview.read_more('') }}",
        "image": "{{ post.thumbnail.src('medium') }}",
        {% if post.category %}
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ fn('get_term_link', post.category.id) }}"
            },
        {% endif %}
        "author": {
            "@type": "Person",
            "name": "{{ post.author }}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ site.name }}",
            "logo": "{{ asset('images/logo.png') }}"
        },
        "datePublished": "{{ post.post_date }}",
        {% if post.post_modified %}
          "dateModified": "{{ post.post_modified }}"
        {% endif %}
    }
	</script>
