<section class="comments">
	{% if post.comments %}
		<h3 class="comments__title">{{ __( 'Commentaires', 'theme-name' ) }} ({{ post.comments|length }})</h3>
		{% for comment in post.comments %}
			{% include "parts/post/post-single-comment.twig" with {comment:comment} %}
		{% endfor %}
	{% endif %}

	{% if post.comment_status == "closed" %}
		<p>{{ __( 'Comments for this post are closed', 'theme-name' ) }}</p>
	{% else %}
		{% include "parts/post/post-comment-form.twig" %}
	{% endif %}
</section>
